.parent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}

.s12{
    background-color: lightblue;
    grid-column: 1/ span 12;
}
.s8{
    background-color: lightcoral;
    grid-column: 1 / span 8;
}
.s4{
    
    background-color: lightcyan;
    grid-column: 1 / span 4;
}
.s6{
    
    background-color: lightgoldenrodyellow;
    grid-column: 5 / span 6;
}
.s7{
    background-color: lightgray;
    grid-column: 5 / span 8;
}
