*{
    padding: 0%;
    margin: 0%;
}
body
{
    display: grid;
    
    height: 100vh;

    grid-template-areas: "head head"
                        "main nav"
                        "footer footer";
    grid-template-rows: 30px 1fr 30px;

    grid-template-columns: 250px 1fr;

}

header
{
    grid-area: head;

    background-color: lightsalmon;
}

.nav-bar 
{
    grid-area: nav;

    background-color: lightblue;
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas: "main sec";

    

    background-color: lightyellow;
}

footer{
    grid-area: footer;

    background-color: burlywood;
}

.sec{
    display: grid;
    grid-area: sec;
    grid-template-areas: "sec my";
    background-color: yellowgreen;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
}

.my{
    background-color: rgb(170, 255, 0);
    margin: 5px;
    border-radius: 5px;
}